{% extends 'base.html' %}
{% block title %}
article_id
{% endblock %}

{% block body %}
<h1> Title: {{ art.title }} </h1>
<h2> author: {{ art.author.user.username }} </h2>

<div class="row">
    <div class="col-md-12">{{ art['text'] }}</div>
</div>

<div class="row">
    <div class="col-6">
        <div> Created at {{ art.created_at}}</div>
        <div> Updated at {{ art.updated_at}}</div>
    </div>
    <div class="col-6">
        {% for tag in art.tag %}
            <a href="{{ url_for('article.tag_article_list', pk = tag.id) }}"><span class="badge bg-success">{{ tag.name }}</span></a>
        {% endfor %}
    </div>
</div>

{% endblock %}